@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proitalic';
    src: url('../fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*Main*/
a{cursor:pointer;}
a:hover{text-decoration:none;}
body{font-family: 'source_sans_proregular';min-height:600px;font-size:15px;}
html{font-family: 'source_sans_proregular';}
.mt5{margin-top:5px !important;}
.p0{padding:0 !important;}
.m0{margin:0 !important;}
.mb25{margin-bottom:25px !important;}
.mt10{margin-top:10px !important;}
.ml20{margin-left:15px !important;}
.mr15{margin-right:15px !important;}
.mt15{margin-top:15px !important;}
.mt65{margin-top:65px !important;}
.mt40{margin-top:40px !important;}
.p15{padding:15px;}
.mt0{margin-top:0 !important;}
.pb5{padding-bottom:5px !important;}.
.pb10{padding-bottom:10px !important;}
.pt10{padding-bottom:10px !important;}
.pl0{padding-left:0 !important;}
.pb20{padding-bottom:20px;}
.pt5{padding-top:5px;}
.pt25{padding-top:25px !important;}
.pb25{padding-bottom:25px !important;}
.pl15{padding-left:15px !important;}
.pt10{padding-top:25px !important;}
.pl50{padding-left:50px !important;}
.pr0{padding-right:0 !important;}
.mtm5{margin-top:-5px !important;}
.mt40{margin-top:40px !important;}
.f22{font-size:22px !important;}
.f26{font-size:26px !important;}
.f16{font-size:16px !important;}
.f14{font-size:14px !important;}
.f18{font-size:18px !important;}
.mtm35{margin-top:-35px;}
.f22{font-size:22px !important;}
.mr10{margin-right:10px !important;}
.w100{width:}

/*Index Page*/
.dropdown-menu li a {color:#333 !important;padding:0px 5px;}
ul.dropdown-menu{border:none;border-radius:0;left:10px;min-width:120px;}
.header2 h1 img{margin-top:-10px;}
.repair-header{padding:5px 0;}
.thm-hd{text-align:left;width:100%;}
.how-mn{background:url(../images/abt-bg.png);background-size:cover;overflow:hidden;}
.clr{clear:both;margin:10px 0 !important;}
.divider{width:40px;border-top:3px solid #00b2e2;display:block;background:red;margin-top:15px;}
.how-mn{color:#fff;}
.search-doctor{background:#FF7600;color:#fff;border-radius:50px;padding:15px;font-size:16px;}
#services{padding:20px 20px 40px 20px;}
.wht-clr{color:#fff;}
.works-btn{padding:15px 40px;font-size:20px;background:#FF7600;border-radius:30px;color:#fff;border:0;margin-top:40px;}

/*Footer*/
.footer{background:#595b5b;padding:40px 20px;color:#fff;font-size:16px;}
.footer ul.navbar-nav li a{color:#fff !important;font-size:12px;}


/*Select-Doctor*/
.hd-select{color:#00b2e2;vertical-align:bottom;}
.btn-home{background:#FF7600;padding:15px 20px;color:#fff;border-radius:5px;margin-right:20px;font-size:18px;  transition: transform .2s;}
.btn-home:hover{text-decoration:none;color:#fff;background:#db6601; transition: transform .2s; }
.carousel-inner{overflow:inherit !important;}
.select-doctor-inner:hover{background:#eee;}
.select-doctor{border-bottom:1px solid #ccc;}
.section-detail{margin-top:70px; padding:20px;}
.inr-sectiondetail{border:1px solid #ccc;padding:20px;}
.detail-heading{border-bottom:1px solid #ccc;padding-bottom:10px;overflow:hidden;font-size:18px;}
.section-detail p{font-size:20px;}
.select-btn{padding:15px 50px;border-radius:30px;background:transparent;border:1px solid #FF7600;text-align:right;font-size:18px;}
a.select-btn{color:#FF7600 !important;}
a.select-btn:hover{background:#FF7600 !important;color:#fff !important; transition-duration: 0.7s;text-decoration:none !important;}
.select-btnwht{padding:15px 40px;border-radius:30px;background:transparent;border:1px solid #fff;text-align:right;font-size:18px;}
a.select-btnwht{color:#fff !important;}
a.select-btnwht:hover{background:#fff !important;color:#000 !important; transition-duration: 0.7s;text-decoration:none !important;}
.img-degree{margin-top:-3px;}
.select-pagepnt ul li{list-style-type:none;font-size:16px;margin-bottom:10px;}
.select-pagepnt ul{margin-left:0;padding-left:0;}
.amt-sctn{border-left:1px solid #ccc;}
.amt-sctn ul li{list-style-type:none;font-size:20px;margin-bottom:15px;}




.inr-sectiondetail{overflow:hidden;}

.pl70{padding-left:70px !important;}

/*Index Header*/
ul.nav li a:hover{background:transparent !important;color:#00b2e2 !important;}
.navbar{border-radius:0;}
.hero-area {
	background-image: url(../images/abokash-hero-bg.jpg);
	background-size: cover;
	background-position: center;
	background-color: #342759;
	position: relative;
	z-index: 1;
	color: #fff;
	font-size: 14px;
	padding-top: 190px;
	padding-bottom: 254px;
}

.hero-area::after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	z-index: -1;
	background: -webkit-linear-gradient(top, rgba(9, 5, 47, 0.75) 0%, rgba(18, 15, 48, 0.75) 25%, rgba(48, 47, 54, 0.75) 77%, rgba(56, 56, 56, 0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 5, 47, 0.75)), color-stop(25%, rgba(18, 15, 48, 0.75)), color-stop(77%, rgba(48, 47, 54, 0.75)), to(rgba(56, 56, 56, 0.75)));
	background: -o-linear-gradient(top, rgba(9, 5, 47, 0.75) 0%, rgba(18, 15, 48, 0.75) 25%, rgba(48, 47, 54, 0.75) 77%, rgba(56, 56, 56, 0.75) 100%);
	background: linear-gradient(to bottom, rgba(9, 5, 47, 0.75) 0%, rgba(18, 15, 48, 0.75) 25%, rgba(48, 47, 54, 0.75) 77%, rgba(56, 56, 56, 0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf09052f', endColorstr='#bf383838', GradientType=0);
}

.hero-area h2 {
	font-weight: 700;
	margin-bottom: 55px;
	text-transform: capitalize;
	font-size: 32px;
	letter-spacing: 0.01em;
}

.carousel-item p {
	color: #fff;
	font-size: 14px;
	letter-spacing: .05em;
	font-weight: 300;
}

.border-btn {
	border: 1px solid #FF7600;
	padding: 7px 15px;
	border-radius: 2px;
	display: inline-block;
}

a.border-btn {
	color: #FF7600;
	text-transform: uppercase;
	font-weight: 500;
}

.border-btn:hover {
	background: #FF7600;
	color: #fff;
}

.hero-area .border-btn {
	margin-top: 50px;
}

.header-area {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	height: auto;
	width: 100%;
    transition: all .4s;
}

.main-nav ul.navbar-nav li a {
	color: #fff;
	font-weight: 700;
	font-size: 14px !important;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

.main-nav ul.navbar-nav li a.active,
.main-nav ul.navbar-nav li a:hover {
	color: #00b2e2;
}

#hero-carousel .carousel-indicators li {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: none;
	border: 1px solid #bdbdbd;
}

#hero-carousel .carousel-indicators li.active {
	background: #00e0d0;
	border-color: #00e0d0;
}

#hero-carousel .carousel-indicators {
	bottom: -150px;
}

#hero-carousel .carousel-indicators li:hover {
	cursor: pointer;
}

.section-padding {
	padding: 70px 0
}

.o-story-content {
	padding-left: 50px;
}

.o-story-content p {
	color: #413d4b;
}

.o-story-content h2 {
	margin-bottom: 28px;
	color: #413d4b;
}

.o-story-content .border-btn {
	margin-top: 25px;
}


.overlay:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	content: "";
	/*background: rgba(49, 29, 94, 0.85);*/
	background: #09052f;
	background: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
	background: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
	background: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
	background: linear-gradient(to right, #09052f 0%, #311d5e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09052f', endColorstr='#311d5e', GradientType=1);
	opacity: 0.85;
}

.fixed-menu-bg {
	position: fixed;
}


.fixed-menu-bg .main-nav ul.navbar-nav li a {
	color: #fff;
	font-weight: 700;
}

.fixed-menu-bg .main-nav ul.navbar-nav li a.active,
.fixed-menu-bg .main-nav ul.navbar-nav li a:hover {
	color: #fff;
}

nav.navbar,
header.fixed-menu-bg {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.fixed-menu-bg span.navbar-toggler-icon i.fa {
	color: #333;
}

span.navbar-toggler-icon i.fa {
	color: #fff;
}


.fixed-menu-bg nav.main-nav {
	-webkit-box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.3);
	background: #00b2e2;
}

.header-area-bg {
    background: #fff;
}

.header-area-bg button.navbar-toggler span i.fa {
    color: #333;
}

.header-area-bg .main-nav ul.navbar-nav li a {
	color: #333;
    font-size: 15px;
    font-weight: 400;
}

.header-area-bg .main-nav ul.navbar-nav li a.active,
.header-area-bg .main-nav ul.navbar-nav li a:hover {
	color: #00e0d0;
}

/*product hide*/
.product-section .col-md-2 {
	display: none;
}

/*navbar padding scrolling*/
.fixed-menu-bg .navbar {
	padding: 0px;
}

.navbar-expand-lg .navbar-toggler{display:none;}
.nav-item{padding:10px;list-style-type:none;}
.kash-logo{padding:0 10px;}
.repair-header{background:#00b2e2; min-height:65px;}
.repair-header .navbar-nav>li>a{color:#fff;}
.input-group-btn .dropdown-toggle:not(:last-of-type) {
    border-radius: 0 !important;
}
.input-group .form-control{width:50%;}


/*Procedure*/
.homecityinput{position:relative;display:inline-block;margin:0 !important;padding:0;}
.homecityinput input{border-radius:0;font-size:14px;}
.thm-btn{background:#00b2e2;border-radius:0;}
.procedure-hd{font-size:16px !important;}
.modal-header h4{margin-top:0 !important;}

/*About-us*/
.about-cont{margin-top:70px;}
.abt-cont{padding:40px 10px;background:#00b2e2;}
.abt-cont span{font-size:26px;color:#fff;}
.abt-cont p{font-size:20px;color:#fff;margin-top:5px;font-weight:lighter;}
.single-slider-for{padding:10px;}
.testimonials{background:url(../images/testimonial-bg.png);background-size:cover;padding:80px 0 80px 0;}
.team-title{padding-top:50px;}
.single-team-detail{text-align:center;color:#333;}
.single-team-item{border:1px solid #757589;text-align:center;}
.single-team-item img{width:100%;}
.easy-steps p{font-size:18px;margin-top:20px;}
.easy-steps{padding:50px 0;}
.contact-mn{background:url(../images/contact-bnr.png);background-size:cover;height:300px;}

/*Contact Us*/
.contact-cont input{border-top:0;border-left:0;border-right:0;border-bottom:1px solid #ccc;}
.contact-cont textarea{border-top:0;border-left:0;border-right:0;border-bottom:1px solid #ccc;margin-bottom:10px;}
.contact-cont .border-btn{margin-top:20px;}
.maps{height: 540px; width: 100%;}

/*Procedure1*/
.hd-procedure1{margin-top:85px;}
.product-mn{position:relative;}
.pw-circle{position: absolute;cursor: pointer;opacity: 0.4;width: 26px;height: 26px;border:2px solid #FFF;border-radius: 50%;background-color:#00b2e2;
    z-index: 1000;}
/*.modal-content{width:60% !important;}
.modal-header{border-top:4px solid #00b2e2;}
.btn-modal{margin-top:30px;padding-bottom:30px;}*/
.close{font-size:28px;}

/*Register*/
.bg-img{position:relative;}
.bg-img img{width:100%;}
.register-cont{position:absolute;top:100px;right:70px;}
input:checked + label{color: #555;border: 1px solid #ddd;border-top: 2px solid #00b2e2;border-bottom: 1px solid #fff;}
.lgn-inpt{border:1px solid #ccc;box-shadow: none;border-radius: 0;padding: 10px 15px;width: 100%;}
#tab1, #tab2{display:none;}
label{display: inline-block;margin: 0 0 -1px;padding: 15px 25px;font-weight: 600;text-align: center;}
.register-cont{padding:20px 40px;background:#fff;width:500px;}
.register-cont input{margin-bottom:8px;margin-top:8px;}


#tab1:checked ~ #content1,
#tab2:checked ~ #content2
{
  display: block;
}
.register-mn section{display: none;padding: 20px 0 0;border-top: 1px solid #ddd;}
.register-mn p{font-size:24px;margin-bottom:20px;}
.sign-in-btn{width:100%;background:#00b2e2;padding:15px;border:0;color:#fff;font-size:20px;}
p.alrdy-act{font-size:14px !important;}


.logomn{padding:10px;}



/*Reserve price*/
span.speciality-active{color:#00b2e2;font-size:18px;font-weight:bold;}
.fn-rp{font-size:22px;font-weight:600;margin-top:40px;margin-left:0;padding:0;}
.rp-btn a{padding:20px;border-radius:30px;background:#FF7600;color:#FFF;}
.rp-btn{margin-top:60px;}
.rp-popmn{width:630px !important;margin-left:-160px;margin-top:7.75rem !important;}
.reserve-btn{padding:10px;border-radius: 30px;background: transparent;color:#FF7600;border: 1px solid #FF7600;text-align:center;font-size: 18px;margin-left:25px;}

.popup-lft ul li{list-style-type:none;border-bottom:1px solid #dfdfdf;padding:10px 0;color:#666666;}
.popup-lft ul li div{display:inline-block;padding-right:10px;}
.popup-lft ul{margin-left:0;padding-left:0;padding-top:15px;}
.popup-lft{height:100%;}
.popup-lft p, h3{padding:0;margin:0;}
.paymnt-popm ul li{padding-bottom:10px;}
.rp-popmn .modal-body{margin:0 !important;padding:0 !important;}
.pop-top{border-bottom:1px solid #ccc;padding-bottom:15px;}
.popup-rgt h3{color:#fff;margin-bottom:10px;}
.popup-rgt{padding:20px;background:#00b2e2;color:#fff;}
.paymnt-popm ul li div{display:inline-block;vertical-align:top;}
.paymnt-popm{padding:20px 0;}
.custom-close{top:-19px;position:absolute;right:-15px;opacity:1 !important;background:#fff;}
.proced-btn{width:100%;border:0;padding:10px 20px !important;font-weight:bold;font-size:16px;border-radius:5px;}
.img-reverse img{width:100%;}



/*popup*/
.modal-header{border-top:3px solid #00b2e2;}


body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}
body.modal-open-noscroll
{
    margin-right: 0!important;
    overflow: hidden;
}
body.main-nav
{
    margin-right: 0!important;
    overflow: hidden;
}
body.navbar-expand-lg
{
    margin-right: 0!important;
    overflow: hidden;
}
body.navbar
{
    margin-right: 0!important;
    overflow: hidden;
}navbar-expand-lg

body.modal {
 overflow-y: auto;
}

body.modal-open {
 overflow: auto;
}




/*History*/
.table-color-header th{background:#00b2e2;padding:15px;color:#fff;}
.table-custom{width:100%;max-width:100%;}
.table-custom td{padding:15px;}
.amnt-paidtr{border-top:1px solid #ccc;border-bottom:1px solid #ccc;font-weight:700;}
.btn-hstrya a{color:#00b2e2;}

/*visit History*/
.blog-section{background:url(images/blog.jpg);}
.table-custom1 td, th{padding:5px 20px 5px 15px;}
.table-custom1{border:1px solid #ccc;padding:10px;}
.table-color-header1{width:100%;}
.table-custom-responsive{padding:10px;}
.pttd{padding:20px 0 20px 15px !important;}
.hr-b{border-bottom:1px solid #ccc;}


/*Reserve*/
.sctn-reserve span{font-size:18px !important;}
.reserve-cont h3{color:#00b2e2;}
.reserve-cont{margin-left:20px;}
.sctn-reserve{border-bottom:1px solid #ccc;padding:20px 0;overflow:hidden;}
.adrs-sctn{display:inline-block;width:6%;vertical-align:top;}
.adrs-sctn1{display:inline-block;width:90%;}
.works-mn ul li{list-style-type:none;display:inline-block;width:32%;text-align:center;}


/*Reserve Popup*/
.popup-lft ul li{display:block;font-size:18px;border-bottom:1px solid #fff;color:#fff;}
.popup-lft ul li div{vertical-align:top;}
.paymnt-popm ul{margin-left:0;padding-left:0;}
.paymnt-popm ul li{list-style-type: none;}
.pop-text{width:240px;}



/*Sucess Page*/
.sucess-pnts ul li{list-style-type:none;}

/*Speciality Page*/
.select-doctor-inner{background:#fff;padding-top:20px;border-left:3px solid #00b2e2;}



/*History*/
.ml35{margin-left:35px !important;}
.sucess-pnts1 ul li{display:inline-block;width:30%;font-size:18px;font-weight:bold;margin-right:30px;text-align:center;}
body{font-size:16px;}
.table-custom-responsive{border:1px solid #ccc;}

/*nothing*/
.bg-search{background:url(../images/bg-search.png);background-size:cover;height:300px;}
.text-default{color:#9b9b9b;font-weight:normal;}
.f18{font-size:18px !important;}
.btn-gray{padding:12px 20px;background:#333;color:#fff;font-size:18px;}
.btn-gray:hover{color:#fff;text-decoration:none;background:#000;}
.btn-thm{padding:12px 30px;background:#00b2e2;color:#fff;font-size:18px;}
.btn-thm:hover{color:#fff;text-decoration:none;background:#019ec9;}
.pl30{padding-left:30px !important;}
.thm-txt{color:#00b2e2 !important;}

/*Visit-History*/
.profl-user{margin-bottom:30px;}
.profl-usersp{display:inline-block;margin-right:30px;vertical-align:middle;}
.profl-user p{color:#9f9f9f;margin-bottom:5px;}
.table-color-header1{margin-bottom:20px;}

/*FAQ*/
.faq-bg{background: url(../images/faq-bg.png);
    background-size: cover;
    height: 300px;}
	
.title-text {position: relative;top: 120px;font-size: 40px;color: #fff;text-align:center;line-height: 50px;font-weight: bold;text-transform: uppercase;}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}



.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.faq-block1{display:block;max-width:630px;padding:0;margin:0;}
.faq-block2{display:block;max-width:630px;padding:0;margin:0;}




.ac-label {
  font-weight: 700;
  position: relative;
  padding: .5em 1em;
  margin-bottom: .5em;
  text-align:left;
  font-size:17px;
  display: block;
  cursor: pointer;
  background-color: whiteSmoke;
  transition: background-color .15s ease-in-out;
 transition-duration: 5s;
 
}

.ac-input:checked + label, .ac-label:hover {
  background-color: #f0f0f0;
  
}

.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  transition: background-color .15s ease-in-out;
}

.ac-label:hover:after, .ac-input:checked + .ac-label:after {
  background-color: #00b2e2;color:#fff;
}

.ac-label:after {background-color: #00b2e2;color:#fff;}

.ac-input:checked + .ac-label:after {
  content: "-";
}

.ac-input {
  display: none;
}

.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text {
  opacity: 1;
  height: auto;
}

.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  padding: .5em 1.5em;
  margin-bottom: 0;
}

.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}

.ac-sub-text {
  padding: 0 1em 0 2em;
}
.ac-label p{color:#9b9b9b;}

/*Loading Background*/
.loading{height:100%;width:100%;position:fixed;background:rgba(0,0,0,0.5);top:0;right:0;left:0;z-index:10000;text-align: center;display: none;}
.loading-img{display: block;width:100%;height:250px;width:250px;position: relative;left:40%;right:50%;top:150px;}
.loading-img img{width:100%;}

/*About*/
.single-team-item{max-height:550px;min-height:550px;margin-bottom:15px;}
.single-team-item p{padding-left:10px; padding-right:10px;}



/*New*/
.pbtn{padding: 15px 50px ;  }
.thm-text{color: #00b2e2 ;  }
.pw-circle:hover{background:#FF7600;}