@media screen and (max-width: 1099px) {}
@media screen and (max-width: 979px) {
	
	
	 .tyup-com .col-md-3{margin:0;display:block;margin-bottom:20px;}
}
@media screen and (max-width: 767px) {
	
	
	  .footer .col-md-4{padding-left:15px !important;margin-top:20px;}
	  .tyup-com .col-md-3{margin:0;display:block;margin-bottom:20px;}
}
@media screen and (max-width: 639px) {
	
	
 .btn-home{display:block;margin-top:10px;}
 #services .col-md-4{margin-bottom:50px;}
  .works-mn li{width:100% !important;display:block !important;}
  .works-mn ul{padding:0 !important;}
  .tyup-com .col-md-3{margin:0;display:block;margin-bottom:20px;}
  .footer .col-md-4{padding-left:15px !important;margin-top:20px;}
	.register-cont{width:auto !important;}
	
}
@media screen and (max-width: 479px) {

 #services .col-md-4{margin-bottom:50px;}
 
 .easy-steps  .col-xs-12{margin-top:30px;}
 .res-none{display:none;}
 .thm-hd{margin-top:10px;}
  .select-btnwht{margin-top:20px;}
  .res-left{text-align:left !important;}
  p.res-font15{font-size:15px !important;}
  .select-pagepnt li span{display:block;}
  .amt-sctn ul{padding-left:0;}
    .amt-sctn .col-md-6{padding:0 !important;}
	  .amt-sctn .col-md-12{padding:0 !important;}

	  .res-mt15{margin-top:15px !important;}
	  .address{padding-left:35px !important;}
	  .adrs-sctn{width:14%;}
	    .adrs-sctn1{width:75%;}

}