<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<div class="about-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-6"><img src="images/abt-mn.jpg" width="100%"/></div>
      <div class="col-md-6">
        <h3 class="thm-hd">About Us
          <div class="divider"></div>
        </h3>
        <br />
        <p class="f16">We created Healora to reduce medical procedure prices.
          Connecting doctors and patients directly removes all the costly administrative middle layers.
          Up to 70% savings passes to patients and employers.
          Healora is a DirectPay cash network with access to the best doctors.</p>
      </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div class="abt-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-9"><span>(424) 270 0714</span>
        <p>If you suspect a stroke or heart attack, then act fast</p>
      </div>
      <div class="col-md-3 mt15"><a href="#" class="button select-btnwht wht-clr">Make An Appointment</a></div>
    </div>
  </div>
</div>
<div class="easy-steps">
  <div class="container">
    <div class="row text-center">
      <h3 class="thm-hd pb20">Healora Health Benefits
        <div class="divider"></div>
      </h3>
      <div class="clr">&nbsp;</div>
      <div class="col-md-4"><img src="images/benefits1.png" width="90"/>
        <p>MORE AFFORDABLE</p>
      </div>
      <div class="col-md-4"><img src="images/benefits2.png" width="90"/>
        <p>MORE AFFORDABLE</p>
      </div>
      <div class="col-md-4"><img src="images/benefits3.png" width="90"/>
        <p>MORE AFFORDABLE</p>
      </div>
    </div>
  </div>
</div>
<div class="testimonials text-center wht-clr">
  <div class="container">
    <div class="row">
      <div class="single-slider-for"> <img src="images/quote.png" width="40"/> <br />
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ea eaque enim fuga in
          magni maior1es natus necessitatibus officiis placeat quisquam, totam, vitae! A ab alias
          at commodi debitis dolorum ducimus enim esse est explicabo hic in iusto laboriosam
          molestiae odio pariatur praesentium quae quas quo, recusandae, similique tempora
          voluptatem!</p>
        <h2>Jane Glader</h2>
        <h4>Ceo Tenguer</h4>
      </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div class="team">
  <div class="container">
    <div class="row">
      <div class="team-title text-center">
        <h2>Meet Our Amazing Team</h2>
        <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
      </div>
    </div>
    <div class="clr">&nbsp;</div>
    <div class="row">
      <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/profile-pic-1.jpg" />
          <div class="single-team-detail">
            <h4>SEMF UCUK</h4>
            <p>CEO & FOUNDER</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/profile-pic-1.jpg" />
          <div class="single-team-detail">
            <h4>SEMF UCUK</h4>
            <p>CEO & FOUNDER</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/profile-pic-1.jpg" />
          <div class="single-team-detail">
            <h4>SEMF UCUK</h4>
            <p>CEO & FOUNDER</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/profile-pic-1.jpg" />
          <div class="single-team-detail">
            <h4>SEMF UCUK</h4>
            <p>CEO &amp; FOUNDER</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clr">&nbsp;</div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="f16">Become part of our dream team, let’s join us ! </p>
        <a href="" class="border-btn">We are hiring</a> </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>