<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<div class="about-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-6"><img src="images/image5.png" width="100%"/></div>
      <div class="col-md-6">
        <h3 class="thm-hd">Healora Benefits
          <div class="divider"></div>
        </h3>
        <br />
        <p class="f16">Healora reduce medical procedure prices by removing the middlemen. Connecting doctors and patients directly
removes all the costly administrative middle layers. Up to 70% savings passes to patients and employers. Healora is a direct pay cash network
with access to the best doctors.<br><br>Healora removes all the costly middle layers between doctors and patients. This direct pay network removes up to 70% of the administrative
costs of a medical procedure. Doctors name their direct to consumer price. Patients have transparency to make healthcare more affordable.<br><br>Healora’s Mission is to make healthcare more accessible for everyone. We are the “deductible buster”</p>
      </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div class="abt-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-8"><span>(424) 270 0714</span>
        <p>If you suspect a stroke or heart attack dial 911</p>
      </div>
      <div class="col-md-4 mt15"><a href="#/procedure" class="button select-btnwht wht-clr">Find Procedure & Pricing</a></div>
    </div>
  </div>
</div>
<div class="easy-steps">
  <div class="container">
    <div class="row text-center">
      <h3 class="thm-hd pb20 m0 p0">Healora Benefits
        <div class="divider"></div>
      </h3>
      
      <div class="col-md-3 center-cls"><img src="images/benefits3.png" width="70">
        <p class="ftext">TRANSPARENT</p>
      </div>
      <div class="col-md-3 center-cls"><img src="images/benefits2.png" width="70">
        <p class="ftext">ACCESSIBLE</p>
      </div>
      <div class="col-md-3 center-cls"><img src="images/benefits1.png" width="70">
        <p class="ftext">AFFORDABLE</p>
      </div>
	  
	  
	  
    </div>
  </div>
</div>

<div class="social-mediamn">
   
   <div class="container">
   
     <div class="row">
	 
	      <h3 class="thm-hd pb20">Listen & Follow Us
             <div class="divider"></div>
          </h3>
	    
		
		<ul>
		   <a href="#"><li class="col-md-2 align-center col-md-offset-1"><img src="images/health_Talks.png" width="50"><br>  <br><h3 class="ftext">SOUND CLOUD</h3></li></a>
		   <a href="#"> <li class="col-md-2 align-center"><img src="images/linkedin.png" width="50"><br> <br> <h3 class="ftext">LINKEDIN</h3></li></a>
		   <a href="#"><li class="col-md-2 align-center"><img src="images/twitter.png" width="50"><br><br>  <h3 class="ftext">TWITTER</h3></li></a>
		   <a href="#"><li class="col-md-2 align-center"><img src="images/quora.png" width="50"><br> <br><h3 class="ftext"> QUORA</h3></li></a>
		   <a href="#"><li class="col-md-2 align-center"><img src="images/youtube.png" width="50"><br><br> <h3 class="ftext"> YOUTUBE</h3></li></a>		
		</ul>
	 
	 </div>
   
   </div>
  
</div>


<div class="clr">&nbsp;</div>



<div class="testimonials text-center wht-clr">
  <div class="container">
    <div class="row">
      <div class="single-slider-for"> <img src="images/quote.png" width="40"/> <br />
        <br />
        <p>Several years ago I realized how broken things are when I strained my knee. With great insurance I still spent $1,800 out-of-my pocket! That’s when Dr. Henley and I knew doctors and patients can build something together that improves healthcare for everyone.</p>
        <h2>Thomas Farmer</h2>
        <h4>Ceo Healora</h4>
      </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div class="team">
  <div class="container">
    <div class="row">
      <div class="team-title text-center">
        <h2>Meet Our Amazing Team</h2>
        <p>We are on a mission. Join us to make healthcare more accessible for everyone!</p>
      </div>
    </div>
    <div class="clr">&nbsp;</div>
    <div class="row team-box">
    <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="single-team-item"> <img src="images/thomas.jpg" />
          <div class="single-team-detail">
            <h4>Thomas Farmer</h4>
            <p>Founder & CEO</p>
			<p>MBA from USC, managed several successful companies. I created Healora to help everyone reduce the cost of healthcare procedures. </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/julian.jpg" />
          <div class="single-team-detail">
            <h4>Julian Henley</h4>
            <p>Co-founder & CMO</p>
			<p>Double-board certified surgeon served on Yale Clinical staff. Studied engineering at MIT and physics and applied mathematics at Harvard.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/pj.jpg" />
          <div class="single-team-detail">
            <h4>Parshant Jain</h4>
            <p>CTO</p>
			<p>Co-founded and exited a telemedicine company. 15 years tech consulting with Fortune 500 firms. Recently, founded A.I. application.</p>
          </div>
        </div>
      </div>
	  </div>
	  <div class="row align-center">
	  <div class="col-md-1"></div>
      <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/stephanie.jpg" />
          <div class="single-team-detail">
            <h4>Stephanie Do</h4>
            <p>Operations Manager</p>
      <p>I have a background in medical billing & coding and I aim to improve the administrative burdens of medical practices.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/diane.jpg" />
          <div class="single-team-detail">
            <h4>Diane Jungers</h4>
            <p>Marketing Manager</p>
			<p>Passionate by customer behaviors, I am dedicated to making patient experience better. Don’t do tomorrow what can be done today.</p>
          </div>
        </div>
      </div>
	  <div class="col-md-3 ">
        <div class="single-team-item"> <img src="images/rashmi.jpg" />
          <div class="single-team-detail">
            <h4>Rashmi Bhargav</h4>
            <p>Strategic Marketing Specialist</p>
			<p>My background is in Data Analytics which I want to use to help patients and doctors support each other in the most beneficial way by increasing transparency.</p>
          </div>
        </div>
      </div>
	  
	  
    </div>
    <div class="clr">&nbsp;</div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="f16">Register for free..</p>
        <a href="#/contact" class="border-btn">Join Our Network</a> </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>