<div ng-include="'layout/header.view.html'"></div>

<div class="clr"></div>

<section class="blog-mn">
  <div class="container">
     <div class="row">
        <div class="title-text">
           <h1><b>Health BLOGS</b></h1>
        </div>
     </div>
  </div>
</section>
<div class="clr">&nbsp;</div>

<div class="blog-section">
  <div class="container">
    <div ng-repeat="blog in blogList" class="row">
           <div class="item-holder col-md-4">
             <div class="image-box"><img src="images/blog-box.jpg" width="100%"/></div></div>
             <div class="content-box col-md-8">
             <h3>{{blog.name}}</h3>
<p><i class="far fa-user"></i> Dr. Amar Amale</p>

             <p>{{blog.short_text}}</p>
           <p><i>10th Aug, 2016</i></p>
             <a href="#/healthdetail/{{blog.url}}" class="button-read">Read More >></a>
             </div>
    </div>
    </div>
</div>

<div class="clr">&nbsp;</div>


<div ng-include="'layout/footer.view.html'"></div>
