<div ng-include="'layout/header.view.html'"></div>
<div class="clr"></div>
</br>
</br>
<div class="clr">&nbsp;</div>

<div class="blog-section">
  <div class="container">
    <div class="row">
        
        <div class="col-md-8"> 
           
           <div class="item-holder">
             
             <div class="blog-itemhd pull-left">
               <h3>{{detail.name}}</h3>
               <p><i class="far fa-user"></i> Dr. Amar Amale | <i class="far fa-calendar-alt"></i> 25-10-2018</p>
             </div>
             
             <div class="blog-itemrgt pull-right">
             
             <ul>
             <li><a href="#"><img src="images/health_Talks.png" width="35"/></a></li>
             <li><a href="#"><img src="images/linkedin.png" width="35"/></a></li>
             <li><a href="#"><img src="images/twitter.png" width="35"/></a></li>
             <li><a href="#"><img src="images/quora.png" width="35"/></a></li>
             <li><a href="#"><img src="images/youtube.png" width="35"/></a></li>
             </ul> 
             
             </div>
             
             
             <div class="image-box"><img src="images/blog-box.jpg" width="100%"/></div>
             <div class="content-box">
              </br>
             <p>{{detail.desc}} </p>
             <br />
             
             </div>
          </div>
          
          
          
          
           </div>
           
           
           <div class="col-md-3 rgt-bdetail pull-right">
           
           <h3>Learn More</h3>
           </br>
           <ul>
          <li><a href="#/">Home</a></li>
            <li><a href="#/about">About Us</a></li>
             <li><a href="#/procedure">Procedures</a></li>
              <li><a href="#/faq">FAQ</a></li>
               <li><a href="#/contact">Contact</a></li>
           </ul>
           
           
           <br /><br />


            <h3>Specialities</h3>
           </br>
           <ul>
          <li><a href="#/">Dermatology</a></li>
            <li><a href="#/about">ENT</a></li>
             <li><a href="#/procedure">Gastroentrology</a></li>
              <li><a href="#/faq">General Surgery</a></li>
               <li><a href="#/contact">Neurology</a></li>
                <li><a href="#/contact">OBGYN</a></li>
                 <li><a href="#/contact">Ophthalmology</a></li>
                  <li><a href="#/contact">Orthopedics</a></li>
                   <li><a href="#/contact">Plastic Surgery</a></li>
                    <li><a href="#/contact">Podiatry</a></li>
                     <li><a href="#/contact">Radiology</a></li>
                      <li><a href="#/contact">Urology</a></li>
           </ul>
           
           
           <br /><br />
           
             <h3>Social Media</h3> 
           
           
           <ul class="blg-rgtscl">
             <li><a href="#"><img src="images/health_Talks.png" width="35"/></a></li>
             <li><a href="#"><img src="images/linkedin.png" width="35"/></a></li>
             <li><a href="#"><img src="images/twitter.png" width="35"/></a></li>
             <li><a href="#"><img src="images/quora.png" width="35"/></a></li>
             <li><a href="#"><img src="images/youtube.png" width="35"/></a></li>
             </ul> 
           
           
           </div>
            
    </div>
    
    
  </div>
</div>

<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>
