<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<section class="blog-mn">
  <div class="container">
     <div class="row">
        <div class="title-text">
           <h1><b>Blog Detail</b></h1>
        </div>
     </div>
  </div>
</section>
<div class="clr">&nbsp;</div>

<div class="blog-section">
  <div class="container">
    <div class="row">
        
        <div class="col-md-8"> 
          <div class="item-holder">
             <div class="image-box"><img src="images/blog-box.jpg" width="100%"/></div>
             <div class="content-box">
             <h3>{{detail.name}}</h3>
             <p>{{detail.desc}}</p>
             <br />
             
             </div>
          </div>
          
          
          <div class="comnts-sctn">
           
           <div class="inner-box">

              <img src="images/cmnt-blog.png" />

           </div>
           
           <div class="cmnt-cont">
              
              <h4><b>John Cena</b></h4>
              <span class="pull-left"><b>24 Feb, 2015 at 2:40pm</b></span>
              <a href="#" class="reply pull-right"><b>Reply</b></a>
              <br />
              <p class="mt10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore Ipsum has been the eloi industry's standard dummy text ever since the 1500s</p>
              
           </div>
           
          </div>
          
          
          <div class="clr">&nbsp;</div>
          
          
           <div class="comnts-sctn">
           
           <div class="inner-box">

              <img src="images/cmnt-blog.png" />

           </div>
           
           <div class="cmnt-cont">
              
              <h4><b>John Cena</b></h4>
              <span class="pull-left"><b>24 Feb, 2015 at 2:40pm</b></span>
              <a href="#" class="reply pull-right"><b>Reply</b></a>
              <br />
              <p class="mt10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore Ipsum has been the eloi industry's standard dummy text ever since the 1500s</p>
              
           </div>
           
          </div>
          
          
          
          
          
          <div class="comment-form">
          <h1>Leave A Comment</h1>
           
           <div class="col-md-6">
           
           <form class="comment-inner">
           
           <input type="text" name="name" placeholder="Name"><br />
           <input type="email" name="email" placeholder="Email"><br />
           <input type="phone" name="phone" placeholder="Phone">
           <a href="#" class="button form-send">Send</a>
           
           
           </form>
           
           </div>
           
         <div class="col-md-6">
                                <textarea name="message" placeholder="Message" cols="30" rows="10"></textarea>
                            </div>
           
           
          </div>
          
          
          
          
           </div>
           
           
           
           <div class="col-md-4 blog-detalrgt">
           <h3><b>Popular Posts</b></h3>
           
           </div>
           
           
            
    </div>
    
    
    
    
    
    
    
    
  </div>
</div>

<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>
