<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;&nbsp;&nbsp;</div>
<div id="services" class="container-fluid text-center">
  <div class="container">
  <br><br>
    <h3 class="thm-hd">
      Select Your Procedure
      <div class="divider"></div>
    </h3>
    <br>
    <div class="row">
      <br>
      <div class="row slideanim slide">
        <div class="col-sm-4">
          <span><img src="images/dermat-icn.png" width="50"></span>
          <h5>DERMATOLOGY</h5>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
        <div class="col-sm-4">
          <span><img src="images/general-surgery.png" width="50"></span>
          <h5>GENERAL SURGERY</h5>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
        <div class="col-sm-4">
          <span><img src="images/opthamology.png" width="50"></span>
          <h5>OPTHALMOLOGY</h5>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
      </div>
      <br>
      <br>
      <div class="row slideanim slide">
        <div class="col-sm-4">
          <span><img src="images/plastic-surgery.png" width="50"></span>
          <h5>PLASTIC SURGERY</h5>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
        <div class="col-sm-4">
          <span><img src="images/ent.png" width="50"></span>
          <h5>ENT</h5>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
        <div class="col-sm-4"><a ng-click="instant('Neurology')"> <span><img src="images/Gastroenterology-Blue.png" width="50" /></span>
          <h5 style="color:#303030;">GASTROENTEROLOGY</h5>
          <!-- <p>Lorem ipsum dolor sit amet..</p></a> -->
        </div>
      </div>
      <br>
      <br>
      <div class="row slideanim slide">
        <div class="col-sm-4">
          <span><img src="images/opthamology.png" width="50"></span>
          <h4>ORTHOPEDICS</h4>
          <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
          <span><img src="images/opthamology.png" width="50"></span>
          <h4>PODIATRY</h4>
          <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
          <span><img src="images/opthamology.png" width="50"></span>
          <h4 style="color:#303030;">UROLOGY</h4>
          <p>Lorem ipsum dolor sit amet..</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <button type="button" id="myCheck1"  data-dismiss="modal">Close</button> -->
<div class="clr">&nbsp;</div>


<div ng-include="'layout/footer.view.html'"></div>