<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;&nbsp;&nbsp;</div>
<div id="services" class="container-fluid text-center">
  <div class="container">
  <br><br>
    <h3 class="thm-hd">
      Select Your Procedure
      <div class="divider"></div>
    </h3>
    <br>
    <div class="row"> <br>
      <div class="row slideanim slide">
        <div class="col-sm-4"> <a ng-click="instant('Dermatology')"><span><img class="zoom" src="images/dermat-icn.png" width="50" /></span>
          <h4>DERMATOLOGY</h4>
        </div>
        <div class="col-sm-4"> <a ng-click="instant('ENT')"><span><img class="zoom" src="images/ent.png" width="50" /></span>
          <h4>ENT</h4>
        </div>
        <div class="col-sm-4"><a ng-click="instant('Gastroenterology')"> <span><img class="zoom" src="images/Gastroenterology-Blue.png" width="50" /></span>
          <h4>GASTROENTEROLOGY</h4>
          <!-- <p>Lorem ipsum dolor sit amet..</p></a> -->
        </div>
        
        
      </div>
      <br>
      <!-- <br> -->
      <div class="row slideanim slide">
      <div class="col-sm-4"> <a ng-click="instant('General Surgery')"><span><img class="zoom" src="images/general-surgery.png" width="50" /></span>
          <h4>GENERAL SURGERY</h4>
        </div>
        <div class="col-sm-4"> <a ng-click="instant('Neurology')"><span><img class="zoom" src="images/neurology.png" width="50" /></span>
          <h4>NEURO SURGERY</h4></a>
        </div>
         <div class="col-sm-4"><a ng-click="instant('OBGYN')"> <span><img class="zoom" src="images/obgyn.png" width="50" /></span>
          <h4>OBGYN</h4></a>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
        
        
      </div>
      <br />
      <!-- <br /> -->
      <div class="row slideanim slide">
      <div class="col-sm-4"><a ng-click="instant('Ophthalmology')"><span><img class="zoom" src="images/opthamology.png" width="50" /></span>
          <h4>OPHTHALMOLOGY</h4>
        </div>
      
        <div class="col-sm-4"> <a ng-click="instant('Orthopedics')"><span><img class="zoom" src="images/orthopaedics.png" width="50" /></span>
          <h4>ORTHOPEDICS</h4></a>
        </div>
        <div class="col-sm-4"> <a ng-click="instant('Plastic Surgery')"><span><img class="zoom" src="images/plastic-surgery.png" width="50" /></span>
          <h4>PLASTIC SURGERY</h4>
        </div>
       
      </div>
      <br />
      <!-- <br /> -->
      <div class="row slideanim slide">
        
        <div class="col-sm-4"><a ng-click="instant('Podiatry')"> <span><img class="zoom" src="images/podiatry.png" width="50" /></span>
          <h4>PODIATRY</h4></a>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
         <div class="col-sm-4"><a ng-click="instant('Radiology')"> <span><img class="zoom" src="images/radiology.png" width="50" /></span>
          <h4 style="color:#303030;">INTERVENTIONAL RADIOLOGY</h4></a>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
        <div class="col-sm-4"><a ng-click="instant('Urology')"> <span><img class="zoom" src="images/urology.png" width="50" /></span>
          <h4 style="color:#303030;">UROLOGY</h4></a>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
       
      </div>
    </div>  
  </div>
</div>
<!-- <button type="button" id="myCheck1"  data-dismiss="modal">Close</button> -->
<div class="clr">&nbsp;</div>


<div ng-include="'layout/footer.view.html'"></div>