<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>

<div class="container">

  <div class="row">
  
    <div class="col-md-10 edit-profile">
    
    <h3><b>Edit Profile</b></h3>
    <form>
      
    <label>First Name <input name="" type="text"></label>
    <label>Last Name <input name="" type="text"></label>
    <label>Email <input name="" type="email"></label>
    <label>Company<input name="" type="text"></label>
    <label>Password <input name="" type="text"></label>
    <label>Confirm Password <input name="" type="text"></label>
    <label></label>
      <label> <a href="#" class="save"> Save Changes</a> </label>
    <form>
  
   
  
  </div>
  
  </div>

</div>

<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>