<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>

<div class="container">

  <div class="row">
  
    <div class="col-md-10 edit-profile">
    
    <h3><b>Edit Profile</b></h3>
    <form name="form" role="form">
      
    <label>First Name <input name="" type="text" ng-model="vm.first_name" placeholder= {{details.first_name}}></label><br>
    <label>Last Name <input name="" type="text" ng-model="vm.last_name" placeholder="{{details.last_name}}"></label><br>
    <label>Email <input name="" type="email" ng-model="vm.email" placeholder={{details.email}}></label><br>
   
    <label>Company <input name="" type="text" ng-model="vm.company" placeholder={{details.company}}></label><br>
    <label>Address_line1 <input name="" type="text" ng-model="vm.address_line1" placeholder={{details.address_line1}}></label><br>
    <label>Address_line2 <input name="" type="text" ng-model="vm.address_line2" placeholder={{details.address_line2}}></label><br>
    <label>Apartment <input name="" type="text" ng-model="vm.appartment" placeholder={{details.appartment}}></label><br>
    <label>City <input name="" type="text" ng-model="vm.city" placeholder={{details.city}}></label><br>
    <label>State <input name="" type="text" ng-model="vm.state" placeholder={{details.state}}></label><br>
    <label>Zipcode <input name="" type="text" ng-model="vm.zipcode" placeholder={{details.zipcode}}></label><br>

    <label></label>

      <label><input class="border-btn ml20" type="submit" value="submit" ng-click="instant()"> </label>
    <form>
  
   
  
  </div>
  
  </div>

</div>

<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>