<div ng-include="'layout/header.view.html'"></div>

<div class="clr">&nbsp;</div>

<div class="register-mn mt65">
   <div class="container">
    <div class="row">
       <div class="register-cont reset-pwd col-md-5 col-md-offset-3 borderrm">
         <p>Sign In to your Account New</p>
            <div class="tab-panel">
             <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">LOGIN</label>
    
              
              
              
  <section id="content1">
     <div class="login">
  
        <input class="lgn-inpt" type="text" placeholder="Enter your Email-ID">
  
<br>
<input class="sign-in-btn" type="submit" value="Sign In">
       
       
       </div>
    
  </section>
    

            
            </div>
       </div>
    </div>
  </div>
</div>

<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
  <div class="clr">&nbsp;</div>

<div ng-include="'layout/footer.view.html'"></div>
