<div ng-include="'layout/header.view.html'"></div>
<div class="clr"></div>
<div class="register-mn">
  <div class="bg-img"><img src="images/register-bg.png" /></div>
  <div class="container">
    <div class="row">
      <div class="register-cont register-res">
        <div class= "lgn-inpt w90" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        <p>Forgot Password</p>
        <div class="tab-panel">
          <input id="tab1" type="radio" name="tabs" checked>
          
          <label for="tab1">Password Reset</label>
          <section id="content1">
            <div class="forgot">
              <form id="formforgot" name="form"  role="form">
                <input class="lgn-inpt" required ng-model="vm.email" type="email" placeholder="Email *">
                <br> 
               
                <input class="sign-in-btn" type="submit" ng-click="instant()" value="Sign In">
              </form>
            </div>
          </section>

           </div>
       </div>
    </div>
  </div>
</div>

<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
  <div class="clr">&nbsp;</div>

<div ng-include="'layout/footer.view.html'"></div>
