<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/custom.css"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
</head>

<body>
<header class="header-area fixed-menu-bg">
  <nav class="main-nav navbar navbar-expand-lg  header2">
    <div class="container">
      <h1><a class="navbar-brand kash-logo" href="index.html"> <img class="img-responsive" src="images/logo-white.png" alt="abokash"></a> </h1>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler  navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span> </button>
      <!-- Brand -->
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul id="navScrollspy" class="navbar-nav pull-right mtm5">
          <li class="nav-item"><a href="index.html" class="nav-link active">Home</a></li>
          <li class="nav-item"><a href="about-us.html" class="nav-link">ABOUT Us</a></li>
          <li class="nav-item"><a href="procedure1.html" class="nav-link">Procedures</a></li>
          <li class="nav-item"><a href="#" class="nav-link">faq</a></li>
          <li class="nav-item"><a href="#" class="nav-link">register</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="clr"></div>

<section class="blog-mn">
  <div class="container">
     <div class="row">
        <div class="title-text">
           <h1>Thanks for Puchasing</h1>
        </div>
     </div>
  </div>
</section>
<div class="clr">&nbsp;</div>

<div class="blog-section">
  <div class="container">
    <div class="row">
      
      <h1 class="text-center"><b> You Purchased 2 Items</b></h1>
          
          <div class="clr">&nbsp;</div>
          
          
          
          
          <div class="table-custom-responsive table-color-header">
                <table class="table-custom table-color-header">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    
                      <td>COLONOSCOPY w/ 2 biopsies, Pre Exam, Post Exam</td>
                      <td>$29.00</td>
                      <td>
                        <div class="stepper ">1</div>
                      </td>
                      <td>$29.00</td>
                    </tr>
                   
                  </tbody>
                  
                   <tbody>
                    <tr>
                    
                      <td>COLONOSCOPY w/ 2 biopsies, Pre Exam, Post Exam</td>
                      <td>$29.00</td>
                      <td>
                        <div class="stepper ">1</div>
                      </td>
                      <td>$29.00</td>
                    </tr>
                    
                    
                     <tr class="amnt-paidtr">
                    
                      <td>Total Amount Paid</td>
                      <td></td>
                      <td></td>
                      <td>$58.00</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
          
          
          
           
        
          
           
    </div>
  </div>
</div>

<div class="clr">&nbsp;</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 mt10"><img src="images/logo.png" width="100%"/></div>
      <div class="col-md-4 pl50"> <span><b>Address: </b>685 LaneSrive St. California, 33020</span><br />
        <span><b>Email: </b>info@healora.com</span> </div>
      <div class="col-md-6">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">HOME</a></li>
          <li><a href="about-us.html">ABOUT US</a></li>
          <li><a href="procedure.html">PROCEDURES</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">REGISTER</a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
