<div ng-include="'layout/header.view.html'"></div>
<div id="ss-home" class="hero-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div id="hero-carousel" class="carousel slide" data-ride="carousel"> 
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2>Save up to 70% on Healthcare Procedures</h2>
              <!-- <a href="#/procedure" class="btn-home">Select Via Dot</a> -->
                
				<h3>Search By:</h3>
                <div class="clr">&nbsp;</div>
				
				<div class="text-center">
             <a href="#/procedure" class="btn-home pbtn">Body Zone</a> <a href="#/search" class="btn-home">Doctor Last Name</a> 
			  </div>
			  <div class="clr">&nbsp; 	 </div>
			   <div class="text-center">  
        <a class="works-btn mt40" type="button" data-toggle="modal" data-target="#myModal4"><i class="far fa-play-circle"></i> &nbsp; Watch the video<a>
        </div>
			  </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div class="clr">&nbsp;</div>


<div class="how-mn">
  <div class="container">
    <div class="row">
    
    
    <div class="works-mn">
        <ul>
          <li><img src="images/icn-abt.png"><h2><b>Step 1:</b></h2><p>Find Your Procedure </p></li>
          <li><img src="images/icn-abt1.png"><h2><b>Step 2:</b></h2><p>Choose Your Doctor</p></li>
          <li><img src="images/icn-abt2.png"><h2><b>Step 3:</b></h2><p>Reserve Your Price</p></li>
        </ul>
        <br>
       
    </div>
    
    
    
     <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
         <iframe width="475" height="300" src="https://www.youtube.com/embed/jkS8rrw8ds4" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="modal-footer">
         
        </div>
      </div>
      
    </div>
      </div>
    </div>
  </div>
</div>


<div id="services" class="text-center">
  <div class="container">
  <h3 class="thm-hd clr-wht">Physician Specialities
      <div class="divider bg-wht"></div>
    </h3>
    <br />
    <div class="row"> <br>
      <div class="slideanim slide">
        <div class="col-sm-4"> <a ng-click="instant('Dermatology')"><span><img class="zoom" src="images/dermat-icn1.png" width="50" /></span>
          <h4>DERMATOLOGY</h4>
        </div>
        <div class="col-sm-4"> <a ng-click="instant('ENT')"><span><img class="zoom" src="images/ent1.png" width="50" /></span>
          <h4>ENT</h4>
        </div>
        <div class="col-sm-4"><a ng-click="instant('Gastroenterology')"> <span><img class="zoom" src="images/Gastroenterology-Blue1.png" width="50" /></span>
          <h4>GASTROENTEROLOGY</h4>
          <!-- <p>Lorem ipsum dolor sit amet..</p></a> -->
        </div>
        
        
      </div>
      <br>
      <!-- <br> -->
      <div class="slideanim slide">
      <div class="col-sm-4"> <a ng-click="instant('General Surgery')"><span><img class="zoom" src="images/general-surgery1.png" width="50" /></span>
          <h4>GENERAL SURGERY</h4>
        </div>

        <div class="col-sm-4"> <a ng-click="instant('Neurosurgery')"><span><img class="zoom" src="images/neurology1.png" width="50" /></span>
 <h4>NEUROSURGERY</h4>
        </div>
         <div class="col-sm-4"><a ng-click="instant('OBGYN')"> <span><img class="zoom" src="images/obgyn1.png" width="50" /></span>
          <h4>OBGYN</h4></a>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
        
        
      </div>
      <br />
      <!-- <br /> -->
      <div class="slideanim slide">
      <div class="col-sm-4"><a ng-click="instant('Ophthalmology')"><span><img class="zoom" src="images/opthamology1.png" width="50" /></span>
          <h4>OPHTHALMOLOGY</h4>
        </div>
      
        <div class="col-sm-4"> <a ng-click="instant('Orthopedics')"><span><img class="zoom" src="images/orthopaedics1.png" width="50" /></span>
          <h4>ORTHOPEDICS</h4></a>
        </div>
        <div class="col-sm-4"> <a ng-click="instant('Plastic Surgery')"><span><img class="zoom" src="images/plastic-surgery1.png" width="50" /></span>
          <h4>PLASTIC SURGERY</h4>
        </div>
       
      </div>
      <br />
      <!-- <br /> -->
      <div class="slideanim slide">
        
        <div class="col-sm-4"><a ng-click="instant('Podiatry')"> <span><img class="zoom" src="images/podiatry1.png" width="50" /></span>
          <h4>PODIATRY</h4></a>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>

         <div class="col-sm-4"><a ng-click="instant('Interventional Radiology')"> <span><img class="zoom" src="images/radiology1.png" width="50" /></span>
          <h4>INTERVENTIONAL RADIOLOGY</h4></a>

          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
        <div class="col-sm-4"><a ng-click="instant('Urology')"> <span><img class="zoom" src="images/urology1.png" width="50" /></span>
          <h4>UROLOGY</h4></a>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
       
	    
	   
      </div>
	  
	  <br>
	   <div class="slideanim slide">
      
        <div class="col-sm-4"><a ng-click="instant('Pain Management')"> <span><img class="zoom" src="images/pain_management.png" width="50" /></span>
          <h4>Pain Management</h4></a>
          <!-- <p>Lorem ipsum dolor sit amet..</p> -->
        </div>
       
	    
	   
      </div>
	  
	  
    </div>
  </div>
</div>

<div class="clr">&nbsp;</div>


<div class="container tyup-com">
<h3 class="thm-hd">Proud to be affiliated with
      <div class="divider"></div>
    </h3>
  <div class="row text-center">
    
    <br />
    <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"> <img src="images/FMMA-logo-300x71.png" width="250"/></a></div>
    <div class="col-md-3 mtm35 col-sm-6 col-xs-12"><a href="#"><img src="images/Lacma-Logo-150x150.png" width="100"/></a></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="images/Logo-Sheldon-Group1.png" width="180"/></a></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="images/Logo-The-Practice-Trans-300x113.png" width="180"/></a></div>
  </div>
</div>
<!-- <iframe width="500" height="400" ng-src="https://www.youtube.com/watch?v=jkS8rrw8ds4"></iframe> -->
<div class="clr">&nbsp;</div>



<div ng-include="'layout/footer.view.html'"></div>
