<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<div class="bg-search">
  <div class="container">
    <div class="row"> </div>
  </div>
</div>



<!-- <iframe width="500" height="400" ng-src="https://www.youtube.com/watch?v=jkS8rrw8ds4"></iframe> -->
<div class="clr">&nbsp;</div>

<div class="yr-doc">

<div class="container">

   <div class="row">
   

  <div class="listdoc-hd"> <h2>Our Concierge Service Will Contact Your Doctor</h2><p>Great move... Doctors love to be on our network</p></div>
<div class="clr">&nbsp;</div>
       <div class="col-md-6">
          
<h3>You</h3>




          <form>
          
          <div class="col-md-6 mb25">  <input type="text" class="lgn-inpt" placeholder="Email"/></div>
          <div class="col-md-6 mb25">  <input type="text" class="lgn-inpt" placeholder="Email"/></div>
          <div class="col-md-6 mb25">  <input type="text" class="lgn-inpt" placeholder="Email"/></div>
          <div class="col-md-6 mb25">  <input type="text" class="lgn-inpt" placeholder="Email"/></div>
        
         
          </form>


        
          
       </div>
       
       
     
       <div class="col-md-6">
          
<h3>Your Doctor</h3>




          <form>
          
          <div class="col-md-6 mb25">  <input type="text" class="lgn-inpt" placeholder="Email"/></div>
          <div class="col-md-6 mb25">  <input type="text" class="lgn-inpt" placeholder="Email"/></div>
          <div class="col-md-6 mb25">  <input type="text" class="lgn-inpt" placeholder="Email"/></div>
          <div class="col-md-6 mb25">  <input type="text" class="lgn-inpt" placeholder="Email"/></div>
        <input type="submit" class="sbmt-btn">
          </form>


        
          
       </div>
   
   </div>
  
</div>

</div>

<div ng-include="'layout/footer.view.html'"></div>
