<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<div class="bg-search">
  <div class="container">
    <div class="row"> </div>
  </div>
</div>



<div class="page-textcont">
  <div class="container"> 
    <div class="row text-center">  
  <br>
  <h2>We have some doctors in your area not yet listed on the website.</h2>
  <br>
  <p class="text-default f18 col-md-8 col-md-offset-2">Please, give us a call and we will be glad to help you find
the doctor you need. If you have a doctor in mind,
we are happy to contact them.</p>

<div class="clr">&nbsp;</div>


     <br>


         <a href="#" class="btn-gray">GO TO HOME PAGE</a> &nbsp;&nbsp;<span class="f18 text-default">or</span> &nbsp;&nbsp; <a href="#/contact" class="btn-thm">CONTACT US</a> 
      <br>
     <br>
     <div class="clr">&nbsp;</div>
     
     <h3 class="thm-txt">Proud to be affiliated with <img class="pl30" src="images/Logo-Sheldon-Group1.png" width="150"></h3>
     
      <br>
  
  </div>
  </div>
</div>
<!-- <iframe width="500" height="400" ng-src="https://www.youtube.com/watch?v=jkS8rrw8ds4"></iframe> -->
<div class="clr">&nbsp;</div>



<div ng-include="'layout/footer.view.html'"></div>
