<div ng-include="'layout/header.view.html'"></div>


<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sel1">Choose Your Body Part or Category:</label>
          <div ng-bind-html="bodyFMenu"></div>
        </div>
        <div class="form-group">
          <label for="sel1">Choose Your Procedure:</label>
         <div ng-bind-html="catFMenu"></div>
        </div>
        <div class="form-group btn-modal">
          
          <!--<button type="button" ng-click="procedureClicked()" class="button select-btn mt10 btn" data-dismiss="modal">Check your procedure</button>-->
             <a ng-click="procedureClicked()" class="button select-btn mt10 col-md-offset-2 col-md-8 dot-popbtn mb15" data-dismiss="modal">Check Your Procedure</a>
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" id="myCheck" class="btn btn-default closebutton" data-dismiss="modal">X</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>




<div class="hd-procedure1 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2  col-md-8 text-center">
        <h1>Save up to 70% on Healthcare Procedures</h1>

        <h3>Select your dot to start</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div class="product-mn">
          <img src="images/body.png" />
          <div ng-click="clicked('Head')" class="pw-circle" style="left:85px;top:12px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Head"></div>
          <div ng-click="clicked('Shoulder')" class="pw-circle" style="left:120px;top:50px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Shoulder"></div>
          <div ng-click="clicked('Plastic Surgery')" class="pw-circle" style="left:70px;top:80px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Breast"></div>
          <div ng-click="clicked('Abdomen')" class="pw-circle" style="left:90px;top:105px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Abdomen"></div>
          <div ng-click="clicked('Gynecology')" class="pw-circle" style="left:90px;top:138px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Gynecology"></div>
          <div ng-click="clicked('Genitals')" class="pw-circle" style="left:100px;top:165px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Genitals"></div>
          <div ng-click="clicked('Knee')"  class="pw-circle" style="left:110px;top:220px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Knee"></div>
          <div ng-click="clicked('Ankle/Foot')" class="pw-circle" style="left:70px;top:275px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Ankle"></div>
          <div ng-click="clicked('Ankle/Foot')" class="pw-circle" style="left:108px;top:285px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Foot"></div>
          <div ng-click="clicked('Neck')" class="pw-circle" style="left:245px;top:30px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Neck"></div>
          <div ng-click="clicked('Back/Spine')" class="pw-circle" style="left:245px;top:80px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Back/Spine"></div>
          <div ng-click="clicked('Elbow')" class="pw-circle" style="left:200px;top:100px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Elbow"></div>
          <div ng-click="clicked('Hip')" class="pw-circle" style="left:220px;top:150px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Hip"></div>
          <div ng-click="clicked('Wrist/Hand')" class="pw-circle" style="left:305px;top:150px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Wrist/Hand"></div>
          <div ng-click="clicked('Throat')" class="pw-circle" style="left:400px;top:150px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Throat"></div>
          <div ng-click="clicked('Nose')" class="pw-circle" style="left:350px;top:100px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Nose"></div>
          <div ng-click="clicked('Ear')" class="pw-circle" style="left:420px;top:75px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Ear"></div>
          <div ng-click="clicked('Eye')" class="pw-circle" style="left:380px;top:65px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Eye"></div>
          <div ng-click="clicked('Radiology')" class="pw-circle" style="left:370px;top:255px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Imaging"></div>
          <div ng-click="clicked('Heart')" class="pw-circle" style="left:370px;top:285px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Heart"></div>
          <div ng-click="clicked('Rehab Medicine')" class="pw-circle" style="left:400px;top:255px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Physical Therapy"></div>
          <!-- <div ng-click="clicked('Rehab Medecine')" class="pw-circle" style="left:380px;top:285px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Rehab Medecine"></div> -->
          <div ng-click="clicked('Skin')" class="pw-circle" style="left:430px;top:255px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Skin"></div>
          <div ng-click="clicked('General Surgery')" class="pw-circle" style="left:430px;top:285px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="General Surgery"></div>
          <div ng-click="clicked('Pain')" class="pw-circle" style="left:460px;top:255px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Pain Management"></div>
          <div ng-click="clicked('Fractures')" class="pw-circle" style="left:460px;top:285px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Fractures"></div>
          <div ng-click="clicked('Plastic Surgery')" class="pw-circle" style="left:490px;top:255px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Plastic Surgery"></div>
          <div ng-click="clicked('Internal Medicine')" class="pw-circle" style="left:490px;top:285px;" data-toggle="modal" data-placement="top" data-target="#myModal" title="Internal Medicine"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <button type="button" id="myCheck1"  data-dismiss="modal">Close</button> -->
<div class="clr">&nbsp;</div>


<script>

$(document).ready(function() {
$('body').tooltip({
selector: "[data-tooltip=tooltip]",
container: "body"
});
});
</script>





<div ng-include="'layout/footer.view.html'"></div>