<div ng-include="'layout/header.view.html'"></div>
<div class="clr"></div>
  <div class="clr">&bnsp;</div>
	    <div class="clr">&bnsp;</div>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center doctor-provider">
	
						<img src="images/doctor-only-platform.png" width="100%"/>

						<h1>Our doctor only portal is coming!</h1> 
						Let us register you now: <b> info@healora.com</b><br> or <br> Call us at: <b>(424) 270 0714</b><br>


						</div>
</div>
</div>

<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>
