<div ng-include="'layout/header.view.html'"></div>
<div class="clr"></div>
  <div class="clr">&bnsp;</div>
	    <div class="clr">&bnsp;</div>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center doctor-provider">
	
					

						<h1>Our doctor only portal is coming!</h1> 
						Let us register you now <br> <a href="mailto:info@healora.com"><u>info@healora.com</u></a> <br> or <br> Call us at <br>(424) 270 0714</br><br>

	<img src="images/doctor-only-platform.png" width="100%"/>
						</div>
</div>
</div>

<div class="clr">&nbsp;</div>

<div ng-include="'layout/footer.view.html'"></div>
