<div ng-include="'layout/header.view.html'"></div>
<div class="clr"></div>
<div class="container">
    <div class="row">
      <div class="col-md-6">
<img src="images/doctor-only-platform.png" width="100%"/>

<h1>                         Our doctor only portal is coming!</h1> 
<p>                              Let us register you now</p>
<p>                                 info@healora.com </p>
<p>                                     or </p>
<p>                                   Call us at </p>
<p>                                  (424) 270 0714</p>
</div>
</div>
</div>

<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>
