<div ng-include="'layout/header.view.html'"></div>
<div class="section-detail">
  <div class="container">
    <div class="row">
      <div class="inr-sectiondetail">
        <div class="detail-heading">
          <div class="col-md-6"><b class="hd-select">{{catName}}</b></div>
          <div class="col-md-6 text-right"><b>CPT:</b>{{cpt}} &nbsp;<b>SKU:</b>{{sku}}</div>
        </div>
        <p class="p15">{{desc}}</p>
        <p class="p15 amt-sctn text-right"> <span class="pb5 mt10"><b>Avg Healora Price:</b> ${{averagePrice}}</span><br />
          <span class="pb5 mt10"><b>Avg Insaurance Price: </b>${{insaurancePrice}}</span><br />
          <span class="pb5 mt10"><b>Saving: </b>${{saving}}</span><br />
          
      </div>
    </div>
  </div>
</div>
<div class="select-doctor">
  <div class="container">
    <div class="row">
      <h2 class="thm-hd">Choose your Doctor or Provider
        <div class="divider"></div>
      </h2>
      <br />
      <div ng-repeat="getDoc in doctorList">
      <div class="col-md-12 pb20 select-doctor">
        <div class="col-md-2 pl0"> <img class="img-responsive" src="images/doctor.png" /> </div>
        <div class="col-md-6">
          <h3 class="mt0">{{getDoc.doctor_name}}</h3>
          <h4>{{getDoc.doctor_speciality}}</h4>
          <span><b>Degree:</b>{{getDoc.degree_title}}/span><br />
          <span><b>Experience:</b> 11yrs</span> </div>
        <div class="col-md-4 mt65 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
     </div>



    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>
