<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>

<div class="select-doctor">
  <div class="container">
    <div class="row">
      <h2 class="thm-hd">OBGYN Pick your procedure
        <div class="divider"></div>
      </h2>
      <br />
      <div class="col-md-12 pb20 select-doctor-inner select-doctor">
       
        <div class="col-md-10"><h3 class="mt0">Laparoscopy, Abdomen, Peritoneum,
</h3></div>
        
        <div class="col-md-2 mt5 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
      
      <div class="col-md-12 pb20 select-doctor-inner select-doctor">
       
        <div class="col-md-10"><h3 class="mt0">Dilation and Curettage (DandC) Hysteroscopy</h3></div>
        
        <div class="col-md-2 mt5 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
      
      <div class="col-md-12 pb20 select-doctor-inner select-doctor">
       
        <div class="col-md-10"><h3 class="mt0">Vaginal Wall Repair Anterior</h3></div>
        
        <div class="col-md-2 mt5 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
      
      <div class="col-md-12 pb20 select-doctor-inner select-doctor">
       
        <div class="col-md-10"><h3 class="mt0">Vaginal Wall Repair Posterior </h3></div>
        
        <div class="col-md-2 mt5 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
      
      <div class="col-md-12 pb20 select-doctor-inner select-doctor">
       
        <div class="col-md-10"><h3 class="mt0">Endometrial Ablation </h3></div>
        
        <div class="col-md-2 mt5 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
      
      
      <div class="col-md-12 pb20 select-doctor-inner select-doctor">
       
        <div class="col-md-10"><h3 class="mt0">Endometrial Ablation </h3></div>
        
        <div class="col-md-2 mt5 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
      
      
      <div class="col-md-12 pb20 select-doctor-inner select-doctor ">
       
        <div class="col-md-10"><h3 class="mt0">Laparoscopic Endometriosis Resection
 </h3></div>
        
        <div class="col-md-2 mt5 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
      
      
      <div class="col-md-12 pb20 select-doctor-inner select-doctor">
       
        <div class="col-md-10"><h3 class="mt0">Laparoscopy, Abdomen, Peritoneum, and Omentum, Diagnostic
 </h3></div>
        
        <div class="col-md-2 mt5 text-right"> <a href="#" class="button select-btn">Select</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>
