<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>

<div>
  <div class="container">
    <div class="row">

      <h2 class="thm-hd"><img src="images/{{image}}" width="40"> {{spec}}
        <div class="divider-speciality"></div>
      
      </h2>
    <div class="clr">&nbsp;</div>
    <div class="clr">&nbsp;</div>
      <div ng-repeat="data in displayProcedure">
          <div class="col-md-10 pb20 select-doctor-inner">
           
            <div class="col-md-10"><h3 class="mt0">{{data.name}}</h3></div>
            
            <div class="col-md-2 mt5 text-right"> <a ng-click="showProcedure(data.id)" class="button select-btn">Select</a> </div>
          </div>
          <div class="clr">&nbsp;</div><br>
      </div>
      
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>
