<div ng-include="'layout/header.view.html'"></div>
<div class="clr"></div>
<section class="blog-mn">
  <div class="container">
     <div class="row">
        <div class="title-text">
           <h1>Thanks for Puchasing</h1>
        </div>
     </div>
  </div>
</section>
<div class="clr">&nbsp;</div>

<div class="blog-section">
  <div class="container">
    <div class="row">
      
      <h1 class="text-center"><b> Purchase Detail</b></h1>
          
          <div class="clr">&nbsp;</div>
          
          
          
          
          <div class="table-custom-responsive table-color-header">
                <table class="table-custom table-color-header">
                  <thead>
                    <tr>
                      <th>Procedure</th>
                      <th>Date</th>
                      <th>Quantity</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    
                      <td>{{name}}</td>
                      <td>{{date_created}}</td>
                      <td>
                        <div class="stepper ">1</div>
                      </td>
                      <td>${{total_amount}}</td>
                    </tr>
                   
                  </tbody>
                  
                   <tbody>
                    
                    
                    
                     <tr class="amnt-paidtr">
                    
                      <td>Total Amount Paid</td>
                      <td></td>
                      <td></td>
                      <td>${{total_amount}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
          
          
          
           
        
          
           
    </div>
  </div>
</div>

<div class="clr">&nbsp;</div>
<div ng-include="'layout/footer.view.html'"></div>
