<div ng-include="'layout/header.view.html'"></div>
<div class="clr">&nbsp;</div>
<div class="bg-search">
  <div class="container">
    <div class="row"> </div>
  </div>
</div>



<div class="page-textcont">
  <div class="container"> 
    <div class="row text-center">  
  <br>
  <h2 ng-if="verify==1">Your email id is verified, You can now login</h2>
  <h2 ng-if="verify==0">Not a valid request, Please try again.</h2>
  <br>
  
<div class="clr">&nbsp;</div>


     <br>


         <a href="#" class="btn-gray">GO TO HOME PAGE</a> &nbsp;&nbsp;<span class="f18 text-default">or</span> &nbsp;&nbsp; <a href="#/register" class="btn-thm">LOGIN NOW</a> 
      <br>
     <br>
     <div class="clr">&nbsp;</div>
     
    
             <div class="thm-txt text-inline">

<div>
             Proud to be affiliated with <br><span>(Peer Physicial Marketing)</span>

</div>
<div>

             <img class="pl30" src="images/Logo-Sheldon-Group1.png" width="250">




             </div>

             </div>
             
     
     <div class="clr">&nbsp;</div>
     
     
  
  </div>
  </div>
</div>
<!-- <iframe width="500" height="400" ng-src="https://www.youtube.com/watch?v=jkS8rrw8ds4"></iframe> -->
<div class="clr">&nbsp;</div>



<div ng-include="'layout/footer.view.html'"></div>
