<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/custom.css"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
</head>

<body>
<header class="header-area fixed-menu-bg">
  <nav class="main-nav navbar navbar-expand-lg  header2">
    <div class="container">
      <h1><a class="navbar-brand kash-logo" href="index.html"> <img class="img-responsive" src="images/logo-white.png" alt="abokash"></a> </h1>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler  navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span> </button>
      <!-- Brand -->
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul id="navScrollspy" class="navbar-nav pull-right mtm5">
          <li class="nav-item"><a href="index.html" class="nav-link active">Home</a></li>
          <li class="nav-item"><a href="about-us.html" class="nav-link">ABOUT Us</a></li>
          <li class="nav-item"><a href="procedure1.html" class="nav-link">Procedures</a></li>
          <li class="nav-item"><a href="#" class="nav-link">faq</a></li>
          <li class="nav-item"><a href="#" class="nav-link">register</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="clr"></div>
<section class="blog-mn">
  <div class="container">
    <div class="row">
      <div class="title-text">
        <h1>Your Items</h1>
      </div>
    </div>
  </div>
</section>
<div class="clr">&nbsp;</div>
<div class="blog-section">
  <div class="container">
    <div class="row">
      <h3 class="thm-hd">Orders
        <div class="divider"></div>
      </h3>
      <div class="clr">&nbsp;</div>
      <div class="visit-tablemn">
        <div class="table-custom-responsive table-color-header1">
          <table class="table-custom1 table-color-header1">
            <thead>
              <tr>
                <th>Order Purchsed</th>
                <th>Amount Paid</th>
                <th></th>
                <th>Order # 2796272-2283525</th>
              </tr>
            </thead>
            <tbody class="hr-b">
              <tr>
                <td>14 December 2017</td>
                <td>$29.00</td>
                <td></td>
                <td>$29.00</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="pttd"><b >Gasterology</b>
                  <div class="clr">&nbsp;</div>
                  COLONOSCOPY w/ 2 biopsies, Pre Exam, Post Exam<br /></td>
                <td></td>
                <td></td>
                <td><b>Doctor Details:</b><br />
                  Kunal Monga<br />
                  A-65, Jawahar Colony<br />
                  NIT Faridabad<br />
                  Harayna</td>
              </tr>
            </tbody>
          </table>
         <div class="clr">&nbsp;</div>
          
          
           <table class="table-custom1 table-color-header1">
            <thead>
              <tr>
                <th>Order Purchsed</th>
                <th>Amount Paid</th>
                <th></th>
                <th>Order # 2796272-2283525</th>
              </tr>
            </thead>
            <tbody class="hr-b">
              <tr>
                <td>14 December 2017</td>
                <td>$29.00</td>
                <td></td>
                <td>$29.00</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="pttd"><b >Gasterology</b>
                  <div class="clr">&nbsp;</div>
                  COLONOSCOPY w/ 2 biopsies, Pre Exam, Post Exam<br /></td>
                <td></td>
                <td></td>
                <td><b>Doctor Details:</b><br />
                  Kunal Monga<br />
                  A-65, Jawahar Colony<br />
                  NIT Faridabad<br />
                  Harayna</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 mt10"><img src="images/logo.png" width="100%"/></div>
      <div class="col-md-4 pl50"> <span><b>Address: </b>685 LaneSrive St. California, 33020</span><br />
        <span><b>Email: </b>info@healora.com</span> </div>
      <div class="col-md-6">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">HOME</a></li>
          <li><a href="about-us.html">ABOUT US</a></li>
          <li><a href="procedure.html">PROCEDURES</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">REGISTER</a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
