<div ng-controller="Header">
  <header class="header-area fixed-menu-bg">
    <nav class="main-nav navbar navbar-expand-lg  header2">
      <div class="container">
        <h1><a class="navbar-brand kash-logo" href="#"> <img class="img-responsive" src="images/healora-logo.png" width="170" alt="abokash"></a> </h1>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler  navbar-toggler-right" type="button" data-toggle="collapse"
                      data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span> </button>
        <!-- Brand -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul id="navScrollspy" class="navbar-nav pull-right mtm5">
            <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
            <li class="nav-item"><a href="#/about" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="#/category" class="nav-link">Procedure</a></li>

            <li class="nav-item" ><a ng-if="!name" href="#/register" class="nav-link">Register</a></li>
            <li class="nav-item dropdown" ng-if="name"><a class="dropdown-toggle" data-toggle="dropdown"  href="" class="nav-link">Hello, {{name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li class="nav-item" ng-click="logout()" ng-if="name"><a class="nav-link">Logout</a></li>
                       <li class="nav-item" ng-if="name"><a href="#/history" class="nav-link">History</a></li>
                    </ul>
                  </li>

            </li>
           
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>